{% extends 'admin/base.html.twig' %}

{% block content %}
    <div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Accueil de la messagerie</div>
					<div class="panel-body">
						<table data-toggle="table">
						    <thead>
						    <tr>
						        <th data-field="identifiant">Photo</th>
						        <th data-field="nom">Livreur</th>
						        <th data-field="prenom">Message</th>
						        <th>Date</th>
						        <th>Voir</th>
						    </tr>
						    </thead>
						    {% for message in messages %}
						    <tr>
						        <td data-field="identifiant">{% if message.photo != "" %}<img src="{{ asset(message.photo) }}" alt="" width="40" height="40"/>{% endif %}</td>
						        <td data-field="nom">{{ message.from|e}}</td>
						        <td data-field="prenom">{{ message.content|e}}</td>
						        <td>{{message.date|date("d/m/Y")}}</td>
						        <td><a {% if message.vu == false %} style="color:red !important;" {% endif %} href="{{path('admin_chat', {userId:message.livreur_id})}}"><svg class="glyph stroked eye" style="width:35px;height:35px;"><use xlink:href="#stroked-eye"/></svg></a></td>
						    </tr>
						    {% endfor %}	
						</table>
					</div>
				</div>
			</div>
		</div><!--/.row-->	
{% endblock %}
