{% extends 'admin/base.html.twig' %}

{% block content %}
    <div class="row" id="table-list">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Planning</div>
                    <div class="panel-body">
                        <form method="post" action="{{ path('admin_planning') }}">
                            <label style="display:inline-block;margin-right:30px;">Séléctionner un jour de la semaine</label><input type="date" name="jour" value="{{ date|date('Y-m-d') }}"> 
                            
                           <a href="{{path('add_livreur')}}"><button class="btn btn-primary">Afficher la semaine correspondante</button></a>
                        </form>
                        <table data-toggle="table">
                            <thead>
                            <tr>
                                <th>Créneaux</th>
                                    {% for i in ["Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"] %}
                                    <th>{{ i }}</th>
                                    {% endfor %}
                            </tr>
                            </thead>
                            {% for key, disponibilite in disponibilites %}
                            <tr>
                                <td>{{ key }}</td>
                                {% for key2, data in disponibilite %}
                                <td><div class="edit-creneau" data-key="{{ key }}" data-key2="{{ key2 }}">{{ data|length }} disponibles<br/>{{ attribuees[key][key2]|length }} attribuées</div></td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div><!--/.row-->

        <div class="modal fade" tabindex="-1" role="dialog" id="">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form method="post" action="{{ path('admin_planning') }}">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Gestion du créneau</h4>
                    </div>
                    <div class="modal-body">
                        <p>Liste des disponibles</p>
                        <div id="liste-profil">
                        </div>
                        <input type="date" name="jour" value="{{ date|date('Y-m-d') }}" class="hidden">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Sauvegarder</button>
                    </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->  
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        var attribuees = {{ attribuees|json_encode|raw }};
        var disponibilites = {{ disponibilites|json_encode|raw }};
        $(document).ready(function(){
            $("#table-list").on("click", ".edit-creneau", function (e) {
                var key = $(this).data('key');
                var key2 = $(this).data('key2');
                var dispos = disponibilites[key][key2];
                if (dispos.length == 0) {
                    return;
                }
                var html = "";
                for (var user_id in dispos) {
                    var profil = dispos[user_id];
                    var checked = attribuees[key][key2][user_id] !== undefined;
                    html += '<div class="checkbox"><label><input type="checkbox" name="users[]" value="' + profil.id + '" ' + (checked ? 'checked' : '') + ' >' + profil.prenom + ' ' + profil.nom + '</label></div>';
                }
                html += '<input type="hidden" name="creneau" value="' + key + '">';
                html += '<input type="hidden" name="day" value="' + key2 + '">';
                $('#liste-profil').html(html);
                $('.modal').modal();
            });
        });
    </script>
{% endblock %}
