<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Inscription </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <p>
        Bonjour Mr/Mme {{ nom }} {{ prenom }}, <br/>
        {% if added %}
        	Les horaires suivants vous ont été attribués :<br/>
        	<ul>
        		{% for add in added %}
        		<li>{{add.debut|date("d/m/Y H:i")}} - {{add.fin|date("H:i")}}</li>
        		{% endfor %}
        	</ul>
        {% endif %}
        <br/>
        {% if deleted %}
        	Les horaires suivants vous ont été retirés :<br/>
        	<ul>
        		{% for add in deleted %}
        		<li>{{add.debut|date("d/m/Y H:i")}} - {{add.fin|date("H:i")}}</li>
        		{% endfor %}
        	</ul>
        {% endif %}

    </p>
</body>
</html>