<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Facture numéro {{ facture.id }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>

<div class="container">

<div class="page-header">
    <h1>Facture émise par  Publicab au nom de <small>{{ livreur.prenom ~ livreur.nom }}.</small></h1>
</div>

<!-- Simple Invoice - START -->
<table border="1" style="width:100%;">
    <tr>
        <td colspan="2"><h2>Facture numéro {{ facture.id }}</h2></td>
    </tr>
    <tr>
        <td>PRESTATAIRE</td>

        <td>CLIENT</td>
    </tr>
    <tr>
        <td>
            <strong>{{ livreur.prenom | livreur.nom }}</strong><br>
            {{ livreur.adresse }}<br>
            <strong>SIRET : </strong>
            {{ livreur.siret }}
        </td>
        <td>
            <strong>Publicab</strong><br>
            55 rue des Morillons<br>
            75015 Paris<br>
        </td>
    </tr>
</table>
<table border="1" style="width:100%;">
        <tr>
            <td colspan="4">
                <h3 style="text-align:center;"><strong>Libellé : {{ facture.libelle }}</strong></h3>
            </td>
        </tr>
       <tr>
            <td colspan="2"><strong>Intitulé</strong></td>
            <td></td>
            <td style="text-align:right;"><strong>Montant HT</strong></td>
        </tr>
        <tr>
            <td colspan="2">Prestation de livraison</td>
            <td></td>
            <td style="text-align:right">{{ facture.montant }}</td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td style="text-align:right;"><strong>Total en euros TTC</strong></td>
            <td style="text-align:right;">{{ facture.montant }}</td>
        </tr>
        <tr>
            <td colspan="2"></td>
            <td style="text-align:right;"><strong>TVA NON APPLICABLE</strong></td>
            <td style="text-align:right;">ARTICLE 293B DU CGI</td>
        </tr>
        <tr>
            <td colspan="4" style="text-align:center;">Facture établie au nom et pour le compte de {{ livreur.prenom ~ livreur.nom}} par :<br/>
            Publicab - 55 rue des Morillons 75015 Paris.
            SIRET : 511 885 758 00033 au capital de 100.000€
            </td>
        </tr>
</table>
                    

<!-- Simple Invoice - END -->

</div>

</body>
</html>