{% extends 'user/base.html.twig' %}

{% block content %}
    <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Planning</div>
                    <div class="panel-body">
                        <form method="post" action="{{ path('user_planning') }}">
                            <label style="display:inline-block;margin-right:30px;">Séléctionner un jour de la semaine</label><input type="date" name="jour" value="{{ date|date('Y-m-d') }}"> 
                            
                           <a href="{{path('add_livreur')}}"><button class="btn btn-primary">Afficher la semaine correspondante</button></a>
                        </form>
                        <form method="post" action="{{ path('user_planning') }}">
                            <input type="date" name="jour" value="{{ date|date('Y-m-d') }}" class="hidden">
                            <input type="hidden" name="edit" value="edit">
                            <table data-toggle="table">
                                <thead>
                                <tr>
                                    <th>Créneaux</th>
                                    {% for i in ["Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"] %}
                                    <th>{{ i }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>

                                <tr>
                                        <td>Livraisons du midi</td>
                                        {% for i in ["lundi_midi", "mardi_midi", "mercredi_midi", "jeudi_midi", "vendredi_midi", "samedi_midi", "dimanche_midi"] %}
                                            <td> <input type="checkbox" name="{{ i }}" value="{{ i }}" {% if disponibilites[i] is defined and disponibilites[i] %}checked{% endif %}> Disponible.</td>
                                        {% endfor %}
                                </tr>
                                <tr>
                                        <td>Livraisons du soir</td>
                                        {% for i in ["lundi_soir", "mardi_soir", "mercredi_soir", "jeudi_soir", "vendredi_soir", "samedi_soir", "dimanche_soir"] %}
                                            <td> <input type="checkbox" name="{{ i }}" value="{{ i }}" {% if disponibilites[i] is defined and disponibilites[i] %}checked{% endif %}> Disponible.</td>
                                        {% endfor %}
                                </tr>
                            </table>
                            <button type="submit" class="btn btn-default btn-md pull-right">Valider mes disponibilités</button>
                        </form>
                    </div>
                </div>
            </div>
        </div><!--/.row-->
{% endblock %}
